import './{{pascalCase name}}.css';

function {{pascalCase name}}() {
  return (
    <div className="{{camelCase name}}">
      <p>{{pascalCase name}} component loaded.</p>
    </div>
  );
}

export default {{pascalCase name}};