import './{{pascalCase name}}.css';

function {{pascalCase name}}() {
  return (
    <div className="{{camelCase name}}-container">
      <h2>{{pascalCase name}} Container</h2>
    </div>
  );
};

export default {{pascalCase name}};
